.page {
  max-width: 1420px;
  width: 100%;

  margin: 0 auto;
}

.columns {
  margin-top: 105px;
}

.info {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: 220px;
  &__avatar {
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__name {
    margin: 0;

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
  }

  &__status {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #8e8e8e;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 6px;

    &_edit {
      width: 165px;
      height: 27px;

      margin-bottom: 10px;

      border-color: #4d89ff;

      font-family: 'Raleway';
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #4d89ff;
    }

    &_logout {
      width: 99px;
      height: 27px;

      border-color: #ff8484;

      font-family: 'Raleway';
      font-style: normal;
      font-size: 16px;
      line-height: 19px;

      color: #ff8484;
    }
  }
}
