.footer{
  display: flex;
  justify-content: center;
  width: 100%;

  &_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 708px;
    width: 100%;
  }

  &__link{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    a{
      text-decoration: none;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }

  &__info{
    margin: 48px 0;
    display: flex;
    max-width: 620px;
    width: 100%;
    justify-content: space-between;
    p{
      margin:0;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
    }
  }

  &__name{
    p{
      margin: 0;
      font-family: 'Raleway';
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #000000;
    }
  }

}